:root {
  --font-primary: "Karla", sans-serif;
  --color-light: #f5f7fb;
  --color-bg-btn: #4d5b9e;
  --color-bg-btn-selected: #d6d8f5;
  --color-txt-primary: #293264;
  --color-border-light: #dbdef0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body,
button {
  font-family: var(--font-primary);
}

body {
  background: var(--color-light);
  color: var(--color-txt-primary);
  height: 100vh;
}

.app {
  min-height: 100vh;
  position: relative;
  display: grid;
  align-items: center;
}

.main {
  padding: 7vh 15%;
  margin: 0 auto;
}

.container {
  text-align: center;
  display: grid;
  gap: 2em;
  position: relative;
  z-index: 99;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8em 1.8em;
  transition: 0.2s all;
  justify-self: center;
}

.btn:hover {
  opacity: 0.9;
}

.btn--primary {
  background: var(--color-bg-btn);
  color: var(--color-light);
}

.blob {
  position: absolute;
  background-repeat: no-repeat;
  height: 235px;
  width: 297px;
  z-index: 0;
}

.blob--right {
  background-image: url("./assets/images/blob-right.svg");
  background-position: top 0 right 0;
  top: 0;
  right: 0;
}

.blob--left {
  background-image: url("./assets/images/blob-left.svg");
  background-position: bottom 0 left 0;
  bottom: 0;
  left: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 700px) {
  .main {
    padding: 7vh 5%;
  }
}

@media (max-width: 400px) {
  .btn {
    width: 100%;
  }
}
